.Logo img{
  height: 9vh;
  margin-left: 5%;
}

.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.user{
    margin-left: auto;
    margin-right: 2.5%;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    position: relative;
    border: 2px solid #fff;
    background-color: #fff;
    color: #292929;
    font-size: 30px;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
}

.formulario{
    margin: 0;
    height: 108vh; 
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right,#b0b9c2, #93bae1);
    width: 80%;
    margin-top: 1.5%;
    border-radius: 15px;
    max-width: 1500px;
}

.feedback{
    display: flex;
    align-items: center;
    padding: 0 20%;
}


.feedback img{
    height: 10vh;
    margin: 0 auto;
    display: block;
    margin-top: 6%;
}

.feedback h1{
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    margin-top: 6%;
    display: flex;
    flex-wrap: wrap;
}

.feedback h3{
    margin: 0 auto;
    margin-left: 4%;
    margin-top: 6%;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
}

.areaMSG{
    display: flex;
    justify-content: center;
    margin-top: 0.5%;
}

.areaMSG textarea{
    padding: 1%;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    border: 2px solid #000000;
}

.btn-enviar {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.btn-enviar input {
    background-color: #004aad;
    color: #fff;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-enviar input:hover {
    background-color: #003080;
    transition: all 0.8s ease;
}

#imgLogo img {
  width: 60px;
  height: auto;
  cursor: pointer;
  margin-left: 18%;
}

/* Navbar links */
.nav-links {
  display: flex;
  gap: 2.5rem;
  margin-left: 0.7%;
  flex-wrap: wrap;
}

.nav-links a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #0c70d3;
  transition: width 0.3s ease;
}
.nav-links a:hover {
  color: #0c70d3;
}

.nav-links a:hover::after {
  width: 100%;
}

.menu{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 40px;
  background-color: #d0d2f7;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu.ativo {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 24px;
  transition: background 0.3s;
}

.menu a:hover {
  background-color: #1e1e3f;
  border-radius: 5px;
}

.menu a.active {
  background-color: #3b3b6d;
  border-radius: 5px;
}

.user:hover{
    transform: scale(1.1);
}

.button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  background-color: #D9D9D9;
  cursor: pointer;
}

#imgChatbot {
  width: 40px;
  height: auto;
}