.cabecalho{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #011C42, #084787);
    justify-content: space-between;
    height: auto;
    padding: 0 1%;
}

.container-principal {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#062756, #0c70d3);
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
}

.titulo{
  
    color: #ffffff;
    font-family: "Lexend", sans-serif ;
    font-weight: 200;
}

.formulario{
    margin: 0 auto;
    margin-top: 2%;
    min-height: 80vh; 
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #0a182c, #074f97);
    opacity: 1;
    width: 75%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 1%;
}

.formulario h1, input, img, p{ 
    display: inline-block;
}

.Logo{
    display: flex;
    align-items: flex-start;
    gap: 2rem; /* espaço entre imagem e texto */
    margin-bottom: 9%;
    flex-wrap: wrap;
    text-align: left;
}


.Logo img {
    display: flex;
    height: auto;
    width: 40%;
    margin: 0 8%;
    max-width: 1000px;
    margin-top: 8%;
}

.Logo h1{
    display: flex;
    margin-top: 8%;
    color: #ffffff;
    font-size: 3.0rem;
    font-family: "Lexend", sans-serif ;
    font-weight: 300;
}

.contratar {
    display: flex;
    align-items: center;   
    flex-wrap: wrap;
    gap: 1.1rem;  
    margin-top: -20%;
    margin-left: 54%;
}

p{
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    margin-top: -37%;
    margin-left: 48%;    
    color: #fff;
    line-height: 1.4;
    max-width: 500px;
    
}



.contratar input[type="submit"] {
    display: flex;
    padding: 2% 4%;
    border-radius: 20px;
    font-size: 15px;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    cursor: pointer;
    border: none;
    background-color:#ffffff ;
    flex-wrap: wrap;
}

.contratar a {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-family: "Lexend", sans-serif;
}

.contratar input:hover{
    background-color: #e0ecf8;
    transform: translateY(-2px);
    transition: all 0.3s;
    color: #000;
}
.contratar a:hover{
    transition: 0.5s all;
    color: #b1abab;
}




.menu li a:hover{
    background-color: #AAD4FF;
    transition: 0.5s all;
    color: black;
}

/*background-color: rgb(19, 117, 237);
/*#dcbaba*/
.nav-links {
  display: flex;
  gap: 4.0rem;
  margin-right: 1%;
  flex-wrap: wrap;
}

.nav-links a {
  color: #ffffff;
  font-size: 19px;
  text-decoration: none;
  position: relative;
  padding-bottom: 1%;
  cursor: pointer;
  transition: color 0.3s ease;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 5%;
  left: 0;
  bottom: 0;
  background: #0c70d3;
  transition: width 0.3s ease;
}
.nav-links a:hover {
  color: #0c70d3;
}

.nav-links a:hover::after {
  width: 100%;
}

    