#imgLogo {
  width: 60px;
  height: auto;
  margin-left: 10px;
  cursor: pointer;
}

body{
 width: 100%;
 height: 100%;
}

/*background-color: rgb(19, 117, 237);
/*#dcbaba*/

.container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 20px;
  background-color: azure;
  margin: 10% 30%;
  padding: 40px;
}


/*Titulo de "Recuperação de Senha"*/
h2 {
    font-size: 32px;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    color: #0D47A1;
    text-align: center;
}

/*Inputs & Button */

form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    
}
input, button{
    padding: 12px 12px;
    border: none;
    outline: none;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffff;
}
button{
    border-radius: 28px;
    width: 170px;
    min-height: 40px;
    background-color: #0D47A1;
    align-content: center;
    cursor: pointer;
    border-radius: 10px;
}
input{
    width: 315px;
    height: 40px;
    color: #ffff;
    border-radius: 9px;
    background-color: #D9D9D9;
}

.salvar:hover{
    background-color: #57a3f0;
    transition: 0.5s all;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
}

#imgChatbot {
  width: 30px;
  height: auto;
}



/* RESPONSIVIDADE */
/*Utilizar se quiser(deixa responsivo em qualquer tela.)*/
@media (max-width: 768px) {


  body {
    width: 100%;
  }

  .cabecalho {  
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .nav-links {
    margin: auto 0;
  }

  .imgLogo {
    margin: 0;
  }

    input, button{
    width: 100%;
  }

  input::placeholder{
    color: #D9D9D9;
  }
}