#imgLogo {
    width: 60px;
    height: auto;
    cursor: pointer;
    margin-left: 18%;
}

.container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px #084787;
  border-radius: 10px;
  background-color: #6fa7df;
  color: #0c70d3;
  padding: 5%;
  margin: 6% 10% 6% 10%;
  font-size: 20px;
}


.usuario {
  display: flex;
  margin: 0 0 40px 0;
  padding: 10px;
}

.usuario img {
  height: 60px;
  width: 60px;
  padding: 0 10px;
}


.informacoes {
  display: flex;
}

.informacoes img {
  display: flex;
  height: 40px;
  width: 40px;
}

a {
  display: flex;
  padding: 0 10px;
  margin: 10px;
  color: #000000;
  text-decoration: none;
}

.feedback {
  border: #ffffff solid 1px;
  background-color: white;
  padding: 1%;
  margin: 55px 15px;
  margin-left: 40px;
}

.feedback img {
  padding: 20px 5px 0 5px;
}

.feedback p{
  padding-top: 7px;
}

.feedback:hover {
  background-color: #1d4ed8;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #42a5f5, #1e88e5);
  border: solid 1px #1e88e5;
}

.dashboard {
  border: #ffffff solid 1px;
  background-color: white;
  padding: 1%;
  margin: 55px 15px;
  padding-top: 15px;
}

.dashboard img{
  padding: 10px 0;
}

.dashboard:hover {
  background-color: #1d4ed8;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #42a5f5, #1e88e5);
  border: solid 1px #1e88e5;
}

.suporte {
  border: #ffffff solid 1px;
  background-color: #ffffff;
  padding: 1%;
  margin: 55px 15px;
  padding-right: 14px;
}

.suporte img {
  padding: 15px 10px ;
}

.suporte:hover {
  background-color: #1d4ed8;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #42a5f5, #1e88e5);
  border: solid 1px #1e88e5;
}

.continua {
  display: flex;
  margin-top: 0px;
}

.continua img {
  display: flex;
  height: 40px;
  width: 40px;
}

.plano {
  border: #ffffff solid 1px;
  background-color: #ffffff;
  padding: 10px;
  margin: 20px;
}

.plano img {
  padding: 10px;
}

.plano:hover {
  background-color: #1d4ed8;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #42a5f5, #1e88e5);
  border: solid 1px #1e88e5;
}

.senha {
  border: #ffffff solid 1px;
  background-color: #ffffff;
  padding: 10px;
  margin: 20px;
}

.senha img {
  padding: 10px;
}

.senha:hover {
  background-color: #1d4ed8;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #42a5f5, #1e88e5);
  border: solid 1px #1e88e5;
}



.chat {
  margin: 0 0 0 90%;
}

.chat button {
  padding: 8px;
  border-radius: 70px;
  border: solid 5px white;
  cursor: pointer;
}

.chat button:hover {
  padding: 9px;
}

.chat img {
  width: 50px;
  height: 50px;
}


/* RESPONSIVIDADE */
/*Utilizar se quiser(deixa responsivo em qualquer tela.)*/
@media (max-width: 768px) {


  body {
    width: 100%;
  }

  .cabecalho {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .nav-links {
    margin: auto 0;
  }

  .imgLogo {
    margin: 0;
  }

  .informacoes {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .continua {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: auto;
    margin-top: 30px;
  }

  .feedback {
    padding: 0 6px;
    margin: 0;
  }

  .dashboard {
    padding: 0 4px;
    margin-bottom: auto;
  }

  .suporte {
    padding: 0 12px;
    margin-bottom: auto;
  }

  .plano {
    padding: 0 18px;
    margin-bottom: 30px;
  }

  .senha {
    padding: 0 20px;
  }
}