#imgLogo img {
  height: 9vh;
  margin-left: 5%;
}

#imgLogo img {
  width: 60px;
  height: auto;
  cursor: pointer;
  margin-left: 10px;
}


.nav-links {  
  display: flex;
  gap: 40px;
  margin-right: auto;
 
}

.nav-links a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #0c70d3;
  transition: width 0.3s ease;
}
.nav-links a:hover {
  color: #0c70d3;
}

.nav-links a:hover::after {
  width: 100%;
}

.user{
    margin-left: auto;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    position: relative;
    border: 2px solid #fff;
    background-color: #fff;
    color: #292929;
    font-size: 30px;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 40px;
  background-color: #d0d2f7;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  /*animação*/
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.menu.ativo {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 24px;
  transition: background 0.3s;
}

.menu a:hover {
  background-color: #1e1e3f;
  border-radius: 5px;
}

.menu a.active {
  background-color: #3b3b6d;
  border-radius: 5px;
}

.user:hover {
  transform: scale(1.1);
}

.titulo{
  background-color: white;
  width: 75%;  
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin-top: 50px;
}

.containerPlano{
  background-image: linear-gradient(to right, #011C42, #084787);
  width: 75%;  
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  height: 1500px;
}

#medalha_bronze{
  width: 60px;
  height: 60px;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

#x{
  float: inline-start;
  margin-left: 0;
  width: 30px;
  height: 30px;
}
s{
  color: rgb(80, 80, 80);
}

.bronze{
  border: solid 1px #062756;
  margin: 2px 20px;
  padding: 80px 20px;
  background-color: #062756;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  margin-top: -80px;
}

.bronze:hover{
  background-color: #ac5600;
  border: #ac5600 ;
  transition: 0.5s all;
  color: black;
  h3{
    color:#000000;
    transition: all 1.2s;
  }
}

.bronze input{
  border: solid 1px #084787;
  background-color: rgb(233, 226, 226);
  border-radius: 8px;
  cursor: pointer;
}

.bronze h3{
  color:#df7710;
}

.bronze input:hover{
  background-image: linear-gradient(to right, #6c8ec0 40%, #3a75b1);
  transition: 0.5s all;
  color: #000000;
  border-radius: 10px;
}

.containerInfo{
  background-color: rgb(186, 183, 183);
  margin-top: 100px;
  width: 65%;
  height: 720px;
  border-radius: 10px;
  border: #000000 solid 2px;
}

.informacoes{
  background-color: rgb(186, 183, 183);
  margin-top: 100px;
  width: 65%;
  height: 600px;
  border-radius: 10px;
}

hr{
  background-color: black;
  height: 1px;
  width: 153%;
}

.info1 h3{
  margin-top: -65px;
  color: rgb(84, 82, 82);
  display: flex;
  margin-left: 25px;
}
.info2 h3{
  color: rgb(84, 82, 82);
  display: flex;
  margin-left: 25px;
}
.info3 h3{
  color: rgb(84, 82, 82);
  display: flex;
  margin-left: 25px;
}
.info4 h3{
  color: rgb(84, 82, 82);
  display: flex;
  margin-left: 25px;
}
.info5 h3{
  color: rgb(82, 84, 82);
  display: flex;
  margin-left: 25px;
}

.info1 h1{
  color: #2C9A1D;
  display: flex;
  margin-left: 25px;
}
.info2 h1{
  color: #2C9A1D;
  display: flex;
  margin-left: 25px;
}
.info3 h1{
  color: #2C9A1D;
  display: flex;
  margin-left: 25px;
}
.info4 h1{
  color: #2C9A1D;
  display: flex;
  margin-left: 25px;
}
.info5 h1{
  display: flex;
  color: #2C9A1D;
  margin-left: 25px;
}

.button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  background-color: #D9D9D9;
  cursor: pointer;
}

#imgChatbot {
  width: 40px;
  height: auto;
}