#imgLogo{
  width: 60px;
  height: auto;
  margin-left: 10px;
  cursor: pointer;
}
/*background-color: rgb(19, 117, 237);
/*#dcbaba*/
.nav-links {
  display: flex;
  gap: 55px;
  margin-right: 20px;
 
}

.nav-links a {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #0c70d3;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #0c70d3;
}

.nav-links a:hover::after {
  width: 100%;
}

.menu li a:hover{
    background-color: #AAD4FF;
    transition: 0.5s all;
    color: black;
}



.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #084787;
    border-radius: 10px;
    /*background-image: linear-gradient(to right, #01122b 40%, #084787)*/
    background-color: #6fa7df;
    color: #0c70d3;
    padding: 60px;
    margin: 6% 10% 6% 10%; 
    font-size: 20px;
    
}
.container-principal input{
    padding: 10px 50px 10px 50px;
    margin: 20px;
}


ul{
  list-style-type: none;
  padding-left: 0;
}
#medalha_ouro{
  width: 60px;
  height: 60px;
}
#medalha_prata{
  width: 60px;
  height: 60px;
}
#medalha_bronze{
  width: 60px;
  height: 60px;
}
#x{
  float: inline-start;
  margin-left: 0;
  width: 30px;
  height: 30px;
}
s{
  color: rgb(80, 80, 80);
}

.planos{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
h1{
  padding-bottom: 70px;
}


.bronze h3{
  color:#df7710;
}

.bronze{
  border: solid 1px #062756;
  margin: 2px 20px;
  padding: 80px 20px;
  background-color: #062756;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
}
.bronze:hover{
  background-color: #ac5600;
  border: #ac5600 ;
  transition: 0.5s all;
  color: black;
  h3{
    color:#000000;
    transition: all 1.2s;
  }
}
.bronze input{
  border: solid 1px #084787;
  background-color: rgb(233, 226, 226);
  border-radius: 8px;
  cursor: pointer;
}
.bronze input:hover{
  background-image: linear-gradient(to right, #6c8ec0 40%, #3a75b1);
  transition: 0.5s all;
  color: #000000;
  border-radius: 10px;
}


.prata h3{
  color:#c4c4c4;
}
.prata{
  color: #ffffff;
  border: solid 1px #062756;
  margin: 2px 20px;
  padding: 80px 20px;
  background-color: #062756;
  border-radius: 10px;
  cursor: pointer;

}
.prata:hover{
  background-color:  #c4c4c4;
  transition: 0.5s all;
  color: black;
  h3{
    color: #000000;
    transition: all 1.2s;
  }
}
.prata input{
  border: solid 1px #084787;
  background-color: rgb(233, 226, 226);
  border-radius: 8px;
  cursor: pointer;
}
.prata input:hover{
  background-image: linear-gradient(to right, #6c8ec0 40%, #3a75b1);
  transition: 0.5s all;
  color: #000000;
  border-radius: 10px;
}


.ouro h3{
  color: #e7c504d8;
}
.ouro{
  color: #ffffff;
  border: solid 1p;
  margin: 2px 20px;
  padding: 80px 20px;
  background-color: #062756;
  border-radius: 10px;
  cursor: pointer;
}
.ouro:hover{
  background-color: #f5d106d8;
  transition: 0.5s all;
  color: black;
  h3{
    color: #000000;
    transition: all 1.2s;
  }
}
.ouro input{
  border: solid 1px #084787;
  background-color: rgb(233, 226, 226);
  border-radius: 8px;
  cursor: pointer;
}
.ouro input:hover{
  background-image: linear-gradient(to right, #6c8ec0 40%, #3a75b1);
  transition: 0.5s all;
  color: #000000;
  border-radius: 10px;
}