


.container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo {
  margin: 0;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #0a182c, #074f97);
  width: 75%;
  margin-top: 50px;
  border-radius: 15px;
  gap: 70px;
}

.conteudo-left img {
  width: 250px;
  height: auto;
  margin-left: 80px;
}

.conteudo-right {
  color: #D9D9D9;
  padding-left: 40px;
  margin-bottom: 190px;
}

.conteudo-right h1 {
  margin-bottom: 20px;
}


.button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  background-color: #D9D9D9;
  cursor: pointer;
}

#imgChatbot {
  width: 40px;
  height: auto;
}

/* RESPONSIVIDADE */
/*Utilizar se quiser(deixa responsivo em qualquer tela.)*/
