<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" type="text/css" href="../../css/container-layout/feedback.css">
    <link rel="stylesheet" type="text/css" href="../../css/componentes/CCB.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Define o ícone (favicon) que aparece na aba do navegador -->
    <link rel="icon" href="../../src/images/orion.png" type="image/x-icon" />
</head>

<body>
    <header>
        <div class="cabecalho">

            <a id="imgLogo" href="../view/Home.html">
                <img alt="Logo" src="../../src/images/orion.png">
            </a>


            <nav class="nav-links">
                <a href="./TelaPosLogin.html">Sobre nós</a>
                <a href="./planos.html">Assinatura</a>
                <a href="./Blog.html">Blog</a>
            </nav>
            <div class="user" onclick="mostrarMenu()">

                <i class="fas fa-user" alt="Foto do usuario"></i>

            </div>

        <nav class="menu" id="menuSuspenso">
          <a href="./perfil.html"><i class="fa-solid fa-pen"></i></a>
          <a href="./Home.php"><i class="fa-solid fa-house"></i></a>
          <a href="#"><i class="fa-solid fa-right-to-bracket"></i></a>
        </nav>
        </div>
    </header>

    <div class="container-principal">
        <form class="formulario">
            <div class="feedback">
                <img alt="Feedback" src="../../src/images/feedback.png">

                <h1>Feedbacks</h1>
                <h3>Deixe seu feedback sobre nosso site e sobre a IA</h3>
            </div>

            <div class="areaMSG">
                <textarea style="resize: none" placeholder="Digite sua mensagem" cols="130" rows="20"></textarea>
            </div>

           

            <div class="btn-enviar">
                <input type="submit" name="" value="Enviar">
            </div>
        </form>
    </div>

    <div class="chatbot">
        <button class="button">
            <img id="imgChatbot" alt="chatbot" src="../../src/images/robos.png">
        </button>
    </div>

    <script src="../../js/navbar.js"></script>

</body>

</html>