<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <link rel="stylesheet" type="text/css" href="../../css/container-layout/telaInicial.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/componentes/CCB.css">
    <link rel="icon" href="../../src/images/orion.png" type="image/x-icon" />
</head>

<body>
    <header>
        <div class="cabecalho">
            <div class="titulo">
                <h1> Orion IA</h1>
            </div>

            <nav class="nav-links">
                <a href="##">Login</a>
                <a href="##">Cadastre-se</a>
            </nav>

        </div>
    </header>

    <div class="container-principal">
        <div class="formulario">
            <div class="Logo">
                <img src="../../src/images/orion.png" alt="Logo da IA">
                <h1>Orion IA</h1>
            </div>


            <div class="contratar">
                <input type="submit" name="" value="Contratar Agora">
                <a href="##">Saiba mais...</a>
            </div>


            </form>
        </div>
</body>

</html>