<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <link rel="stylesheet" type="text/css" href="../../css/container-layout/telaInicial.css">
</head>
<body>
    <header>
    <div class="cabecario">
            <div class="titulo">
                <h1> Orion IA</h1>
            </div>
                <ul class="menu">
                    <li><a href="##">Login</a></li>
                    <li><a href="##">Cadastre-se</a></li>
                </ul>

           
            </div>
        </header>

    <div class="container-principal">
        <div class="formulario">
            <div class="img"><img src="../../src/images/orion.png" alt="Logo da IA"></div>

            <div class="nome"><h1>Orion IA</h1></div>

            <div class="contratar"><input type="submit" name="" value="Contratar Agora"></div>

            <div class="saiba-mais"><a href="##"><h3>Saiba mais...</h3></a></div>
        </form>
    </div>
</body>
</html>