<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../css/container-layout/login.css">
    <link rel="stylesheet" href="../../css/componentes/CCB.css">
    <link rel="stylesheet" href="../../css/componentes/fontsLexa.css">
    
    <script src="../../js/login.js" defer></script>
    <!-- Define o ícone (favicon) que aparece na aba do navegador -->
    <link rel="icon" href="../../src/images/orion.png" type="image/x-icon" />
</head>

<body>
    <header>
        <div class="cabecalho">
            <a href="Home.php">
                <img alt="Logo" id="imgLogo" src="../../src/images/orion.png">
            </a>
            <div class="tituloM">
                <h1>Orion IA</h1>
            </div>
        </div>
    </header>

    <section class="container-principall">
        <div class="card loginActive">
            <!-- Card principal com as seções de login/cadastro -->
            <div class="esquerda">
                <!-- Lado esquerdo: área do formulário de Login e texto explicativo -->
                <div class="formLogin">
                    <h2>Login</h2>
                    <form method="POST" action="../controller/UsuarioController.php">
                        <input type="text" name="emailUsuario" placeholder="E-mail">
                        <div class="input-group">
                        <input type="password" name="senhaUsuario" minlength="6" placeholder="Senha">
                        <a href="##" class="esqueci-senha">Esqueceu sua senha? </a>
                        </div>
                        <input type="submit" name="requisicao" value="Entrar">
                    </form>
                </div>
                <div class="facaLogin">
                    <img alt="Walle" id="walle2" src="../../src/images/Icons/robos.png">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, quae veritatis. Incidunt
                        asperiores quos accusantium sint consequatur ea corrupti, saepe odit n
                        nt modi animi magni.
                    </p>
                    <a href="../view/Home.html" class="maisInfos"> Mais informações..</a>
                    <button class="loginButton"> Faça login </button>
                </div>
            </div>
            <div class="direita">
                <!-- Lado direito: área do formulário de Cadastro e texto explicativo -->
                <div class="formCadastro">
                    <h2>Cadastro</h2>
                    <form method="POST" action="../controller/UsuarioController.php">
                        <input type="text" name="nomeUsuario" placeholder="Nome">
                        <input type="email" name="emailUsuario" placeholder="E-mail">
                        <input type="password" name="senhaUsuario" placeholder="Senha">
                        <input type="password" name="confirmarSenha" minlength="6" placeholder="Confirme sua senha">
                        <input type="submit" name="requisicao" value="Cadastrar">
                    </form>
                </div>
                <div class="facaCadastro">
                    <img alt="Walle" id="walle" src="../../src/images/Icons/robos.png">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque facilis, iusto dicta soluta,
                        fugiat ratione exercitatione
                        Laudantium, enim iure?</p>
                    <button class="cadastroButton"> Cadastre-se </button>

                </div>
            </div>
        </div>
    </section>

</body>

</html>