<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/container-layout/mudarSenha.css">
    <link rel="stylesheet" type="text/css" href="../../css/componentes/CCB.css">
    <!-- Define o ícone (favicon) que aparece na aba do navegador -->
    <link rel="icon" href="../../src/images/orion.png" type="image/x-icon" />
    <title>Tela mudar senha</title>
</head>


<body>
    <header>
    <div class="cabecalho">
        <img alt="Logo" id="imgLogo" src="../../src/images/orion.png">

            
            <nav class="nav-links">
                <a href="##">Sobre nós</a>
                <a href="##">Assinaturas</a>
                <a href="##">Blog</a>
            </nav>
           
            </div>
        </header>

    <div class="container-principal">

        <p>Informe o seu email para recuperar a <id="senha">senha</id></p>

        <input type="text">

        <div class="contratar">
                <input id="botao" type="submit" name="" value="Cadastrar">
                <a href="##"></a>
            </div>

    </div>
</body>
</html>