<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/componentes/CCB.css">
    <link rel="stylesheet" type="text/css" href="../../css/componentes/responsivo.css">
    <link rel="stylesheet" type="text/css" href="../../css/container-layout/perfil.css">
    <!-- Define o ícone (favicon) que aparece na aba do navegador -->
    <link rel="icon" href="../../src/images/orion.png" type="image/x-icon" />
    <title>Tela de perfil</title>
</head>

<body>
    <header>
        <div class="cabecalho">
            <img alt="Logo" id="imgLogo" src="../../src/images/orion.png">

            <nav class="nav-links">
                <a href="##">Sobre nós</a>
                <a href="../../php/view/planos.html">Assinaturas</a>
                <a href="##">Blog</a>
            </nav>
        </div>
    </header>


    <div class="container-principal">

        <div class="usuario">
            <img src="../../src/images/Icons/do-utilizador.png" alt="">
            <p>Nome do usuario</p>
        </div>

        <div class="informacoes">

            <div class="feedback">
                <a href="../../php/view/Feedback.html">
                    <img src="../../src/images/feedback.png" alt="">
                    <p>Feedback</p>
                </a>
            </div>

            <div class="dashboard">
                <a href="../../php/view/DashBoard.html">
                    <img src="../../src/images/Icons/grafico-preditivo.png" alt="">
                    <p>Dashboard</p>
                </a>
            </div>

            <div class="suporte">
                <a href="../../php/view/suporte">
                    <img src="../../src/images/Icons/apoio-suporte.png" alt="">
                    <p>suporte</p>
                </a>
            </div>
        </div>

            <div class="continua">

            <div class="plano">
                <a href="../../php/view/planos.html">
                    <img src="../../src/images/Icons/moeda-de-dinheiro.png" alt="">
                    <p>Planos</p>
                </a>
                    
            </div>

            <div class="senha">
                <a href="../../php/view/MudarSenha.html">
                    <img src="../../src/images/Icons/senha.png" alt="">
                    <p>Senha</p>
                </a>
            </div>
        </div>
    </div>

    <div class="chat">
        <button>
            <img src="../../src/images/Icons/robos.png" alt="">
        </button>
    </div>



</body>

</html>