<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/componentes/fontsLexa.css">
    <link rel="stylesheet" type="text/css" href="../../css/componentes/CCB.css">
    <link rel="stylesheet" href="../../css/container-layout/recuperaSenha.css">
    <script src="../../js/navbar.js"></script>
    <!-- Define o ícone (favicon) que aparece na aba do navegador -->
    <link rel="icon" href="../../src/images/orion.png" type="image/x-icon" />
    <title>Orion IA</title>
</head>


<body>
    <header>
        <div class="cabecalho">
            <a href="../view/Home.html">
                <img alt="Logo" id="imgLogo" src="../../src/images/orion.png">
            </a>

            <nav class="nav-links">
                <a href="TelaPosLogin.html"> Sobre nós</a>
                <a href="planos.html"> Assinatura</a>
                <a href="Blog.html">Blog</a>
            </nav>

            <div class="user" onclick="mostrarMenu()">
                <i class="fas fa-user" alt="Foto do usuário"></i>
            </div>

            <nav class="menu" id="menuSuspenso">
                <a href="perfil.html"><i class="fa-solid fa-pen"></i></a>
                <a href="Home.php"><i class="fa-solid fa-house"></i></a>
                <a href="../controller/Logout.php"><i class="fa-solid fa-right-to-bracket"></i></a>
            </nav>
           
        </div>
    </header>

    <div class="container-principal">

        <div class="tituloRS">
        <h2>Recuperação de Senha</h2>
        </div>
        <form>
            <input type="password" placeholder="Crie uma nova senha">
            <input type="password" placeholder="Confirme sua senha">

            <div class="salvar">
                <button type="submit" class="salvar">Salvar</button>
                <a href="./Login.html"></a>
            </div>
        </form>

    </div>
    <!--chatbot-->
  <div class="chatbot">
    <button class="buttonChat">
      <img id="imgChatbot" src="../../src/images/robos.png" alt="Logo do chatbot">
    </button>
  </div>

  <script src="../../js/navbar.js"></script>
</body>
</html>