<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apresentação</title>
  <link rel="stylesheet" type="text/css" href="../../css/container-layout/TelaPosLogin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="cabecalho">

      <!-- Logo com link -->
      <a id="imgLogo" href="TelaPosLogin.html">
        <img src="../../src/images/orion.png" alt="Logo da IA">
      </a>

      <!-- Itens de navegação -->
      <nav class="nav-links">
        <a href="##">Sobre nós</a>
        <a href="##">Assinatura</a>
        <a href="##">Blog</a>
      </nav>

      <!-- Imagem do usuário -->
      <div class="user" onclick="mostrarMenu()">
        <i class="fas fa-user" alt="Foto do usuário"></i>
      </div>

      <!-- Navbar vertical -->
      <nav class="menu" id="menuSuspenso">
        <a href="#"><i class="fa-solid fa-pen"></i></a>
        <a href="#"><i class="fa-solid fa-house"></i></a>
        <a href="#"><i class="fa-solid fa-right-to-bracket"></i></a>
      </nav>
    </div>
  </header>

  <main class="container-principal">
    <div class="conteudo">
      <!-- Lado esquerdo: imagem -->
      <div class="conteudo-left">
        <img src="../../src/images/Icons/robos.png" alt="Logo do chatbot">
      </div>

      <!-- Lado direito: textos -->
      <div class="conteudo-right">
        <h1>Seja bem-vindo! Eu sou o Bot!</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea autem aliquid quos iste assumenda quisquam,
          animi quia fugit! Totam, eum aliquid? Fuga, laboriosam quia! Est explicabo quisquam earum accusamus?
          Laborum.
        </p>
      </div>
    </div>
  </main>

  <!--chatbot-->
  <div class="chatbot">
    <button class="button">
      <img id="imgChatbot" src="../../src/images/robos.png" alt="Logo do chatbot">
    </button>
  </div>

  <script src="../../js/navbar.js"></script>
</body>

</html>