<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apresentação</title>
  <link rel="stylesheet" type="text/css" href="../../css/componentes/CCB.css">
  <link rel="stylesheet" type="text/css" href="../../css/container-layout/TelaPosLogin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="icon" href="../../src/images/orion.png" type="image/x-icon" />
</head>

<body>
  <header>
    <div class="cabecalho">

      <!-- Logo com link -->
      <a id="imgLogo" href="Home.php">
        <img src="../../src/images/orion.png" alt="Logo da IA">
      </a>

      <!-- Itens de navegação -->
      <nav class="nav-links">
        <a href="./TelaPosLogin.html">Sobre nós</a>
        <a href="./planos.html">Assinatura</a>
        <a href="./Blog.html">Blog</a>
      </nav>

      <!-- Imagem do usuário -->
      <div class="user" onclick="mostrarMenu()">
        <i class="fas fa-user" alt="Foto do usuário"></i>
      </div>

      <!-- Navbar vertical -->
      <nav class="menu" id="menuSuspenso">
        <a href="./perfil.html"><i class="fa-solid fa-pen"></i></a>
        <a href="./Home.php"><i class="fa-solid fa-house"></i></a>
        <a href="../controller/Logout.php"><i class="fa-solid fa-right-to-bracket"></i></a>
      </nav>
    </div>
  </header>

  <main class="container-principal">
    <div class="conteudo">
      <!-- Lado esquerdo: imagem -->
      <div class="conteudo-left">
        <!-- Colocando olhinho no robo -->
        <img src="../../src/images/Icons/robos.png" alt="Logo do chatbot">
      </div>

      <!-- Lado direito: textos -->
      <div class="conteudo-right">
        <h1>Seja bem-vindo!</h1>
        <p>
          Olá! Eu sou o Orion Bot, seu assistente virtual.
          desenvolvido para ajudar você a tirar dúvidas sobre a Orion IA.
          A equipe da Orion me criou para tornar o uso da tecnologia mais simples,
          acessível e confiável.</p>
      </div>
    </div>
  </main>

  <!--chatbot-->
  <div class="chatbot">
    <button class="button">
      <img id="imgChatbot" src="../../src/images/robos.png" alt="Logo do chatbot">
    </button>
  </div>

  <script src="../../js/navbar.js"></script>
</body>

</html>